*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: #d6e68d81;
}
h1{
    background-image: linear-gradient(#1e035e, black);
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    border: none;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.choice:hover{
    opacity: .7;
    cursor: pointer;
    background-color: black;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

#msg{
    background-color: #241023;
    color: #fff;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 0.8rem;
}